<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="com.listner.TestListner"></listener>
	<listener class-name="com.reports.Extentreport"></listener>
<!--<listener class-name="com.brixlite.listener.IAnnotation"></listener> -->
	</listeners>
  <test name="Test">
    <classes>
      <class name="com.test.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
